docx==0.2.4
langchain==0.1.14
langchain_community==0.0.31
langchain_core==0.1.40
langchainhub==0.1.15
langchain_openai==0.1.1
openai==1.16.2
python_docx==1.1.0
streamlit==1.33.0
google-search-results==2.1.0
chromadb==0.4.24
sqlite3>=3.35.0
