body {
    background-color: #063875; /* Dark Blue */
}

.stApp {
    background-color: #063875; /* Dark Blue */
    color: #EDF1F5;
}
.css-1y0tads, .st-bx, .st-ij, .st-cx {
    color: #EDF1F5; /* White */
}
